#ignore pycharm/vscode/vs configuration/temp files

/.vscode

# platform
/platform/build
/platform/.vscode
/platform/__pycache__
/platform/.vs
/platform/linux-only/.vscode
/platform/linux-only/build
/platform/linux-only/__pycache__
/platform/win-only/build
/platform/win-only/__pycache__
/platform/win-only/build
/platform-linux-1.0/*
/platform/player-only/AI/.vscode
/platform/player-only/AI/build
/platform/player-only/.vscode
/platform/player-only/build


# logic
/logic/.idea
/logic/__pycache__
/logic/allclass/__pycache__
/logic/proto/__pycache__
/logic/playback

